[package]
name = "bioleptic-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
bioleptic = { path = "../" }
wasm-bindgen = "0.2"
js-sys = "0.3"

[profile.release]
lto = true
opt-level = "z"